{% if reg == true %}
    <div class="form-container">
        <div class="main-container">
            <div class="form-title">
                <h1 style="">Регистрация</h1>
            </div>
            {% if authError == true %}
            <div style="width: 100%; display: flex; justify-content: center">
                <p style="
                background-color: rgba(228,76,76,0.24);
                padding: 15px 40px;
                border-radius: 10px;
                border: 2px #E44C4C solid;
                color: #E44C4C">
                    Ошибка регистрации
                </p>
            </div>
            {% endif %}
            <form action="../controllers/client_auth.php" method="post">
                <div class="form-group">
                    <label for="name">Имя</label><input type="text" name="name" id="name" required>
                    <label for="email">Email</label><input type="email" name="email" id="email" required>
                    <label for="phone">Телефон в формате +79998887766 </label><input type="tel" name="tel" pattern="+7[0-9]{11}" required>
                    <label for="address">Адрес</label><input type="text" name="address" id="address" required>
                    <a href="../controllers/client_auth.php" style="color: #E44C4C; text-decoration: none">Уже зарегистрированы?</a>
                    <div style="display: flex; justify-content: center">
                        <input class="button" name="reg" type="submit" value="Подтвердить">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% else %}

    <div class="form-container">
        <div class="main-container" style="margin: 30px 0 0 0;">
            <div class="form-title">
                <h1 style="">Вход</h1>
            </div>
            {% if authError == true %}
                <div style="width: 100%; display: flex; justify-content: center">
                    <p style="
                background-color: rgba(228,76,76,0.24);
                padding: 15px 40px;
                border-radius: 10px;
                border: 2px #E44C4C solid;
                color: #E44C4C">
                        Ошибка входа. Проверьте правильность введенных данных
                    </p>
                </div>
            {% endif %}
            <form action="../controllers/client_auth.php" method="post">
                <div class="form-group">
                    <label for="phone">Телефон в формате +79998887766 </label><input type="tel" name="tel" pattern="+7[0-9]{11}" required>
                    <label for="pass">Код подтверждения</label><input type="password" name="pass" id="pass" required>
                    <a href="../controllers/client_auth.php?m=reg" style="color: #E44C4C; text-decoration: none">Нет аккаунта?</a>
                    <div style="display: flex; justify-content: center">
                        <input class="button" name="log" type="submit" value="Подтвердить">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endif %}