<footer class="footer">
    <div>
        <div>
            <a href="../controllers/courier_auth.php">Кабинет курьера</a>
            <a href="../admin/admin_main.php">Панель управления</a>
        </div>
    </div>
</footer>