<a href="../controllers/restaurant_page.php?id={{ restaurant.id }}" style="text-decoration: none; color:#212121;">
    <div class="restaurant-card">
        <img src="../uploaded_images/{{ restaurant.image_name }}" alt="Изображение ресторана" class="restaurant-image">
        <h2 class="restaurant-name">{{ restaurant.restaurantName | slice(0, 26) ~ (restaurant.restaurantName |length > 15 ? '...' : '') }}</h2>
    </div>
</a>