{% extends "base.html.twig" %}

{% block head%}
<link rel="stylesheet" href="../styles/cart-styles.css">
{% endblock %}

{% block content %}
<div class="page-container">
    <div class="cart-container">
        <div class="cart-header">
            <h3 class="cart-heading">Корзина</h3>
            <h5 class="cart-action">Убрать все</h5>
        </div>
        <div class="cart-items">
            {% for item in cart %}
            <div class="cart-item">
                <div class="cart-image-box">
                    <img src="../uploaded_images/{{ item.image_name }}" style="height: 120px" />
                </div>
                <div class="cart-about">
                    <h1 class="cart-title">{{ item.dishName | slice(0, 18) ~ (item.dishName|length > 15 ? '...' : '') }}</h1>
                    <h3 class="cart-subtitle">₽{{ item.cost }}</h3>
                </div>
                <div class="cart-counter">
                    <div class="cart-btn">+</div>
                    <div class="cart-count">2</div>
                    <div class="cart-btn">-</div>
                </div>
                <div class="cart-prices">
                    <div class="cart-remove">Убрать</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('.increase-btn').click(function() {
                var itemId = $(this).data('id');

                // Отправить запрос на сервер для увеличения количества предмета
                $.ajax({
                    url: '',
                    type: 'POST',
                    data: { id: itemId },
                    success: function(response) {
                        // Обновить отображение количества предмета
                        var quantityElement = $(this).prev('span');
                        var newQuantity = parseInt(quantityElement.text()) + 1;
                        quantityElement.text('Quantity: ' + newQuantity);
                    }
                });
            });
        });
    </script>
{% endblock %}