{% extends "base.html.twig" %}

{% block head %}
    <link rel="stylesheet" href="../styles/log-reg-form.css">
{% endblock %}



{% block content %}
    <div style="min-height: 60vh; padding: 40px 0 0 0">
        {% include "./elements/auth_forms.html.twig" with { reg: isReg} %}
    </div>
{% endblock %}