{% extends "base.html.twig" %}
{% block header %} {{header}} {% endblock %}

{% block content %}
<div id="food-menu">
    {% for dish in dishes %}
        <div class="food-item">
                <div class="food-item-prop">
                    <img src="../uploaded_images/{{dish.image_name}}.jpg">
                    <div class="food-item-buttons">
                        <a href="" class="food-item-button">В корзину</a>
                    </div>
                </div>
                <div class="food-item-title">
                    <a href=""> {{ dish.dishName }} </a>
                    <span class="food-item-price">₽ {{ dish.cost }}</span>
                </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
