{% extends "base.html.twig" %}
{% block header %} {{ header }} {% endblock %}

{% block content %}
    <div class="restaurant-container">
            {% for restaurant in restaurants %}
                {% include "./elements/restaurant-card.html.twig" with {"restaurant": restaurant} %}
            {% endfor %}
    </div>
{% endblock %}