{% extends "base.html.twig" %}
{% block header %} {{header}} {% endblock %}

{% block content %}
<script src="../js/cart.js"></script>
<div id="food-menu">
    {% for dish in dishes %}
        {% include "./elements/dish-card.html.twig" with {"item": dish} %}
    {% endfor %}
</div>
{% endblock %}
